
// ============================================================
// CORE 
// ============================================================

$backgroundColor: $col-darkgrey;
$containerWidth: 1400px;
$containerPadding: 0 $baseline;
$containerCentering: true;
$includeBorderBox: true;


@if $includeBorderBox {

	*, *:before, *:after {

		@include box-sizing(border-box);
	}
}

html, body {

	width: 100%;
	overflow-x: hidden;
	color: $col-black;
}

body {

	background: $backgroundColor;
	@include transition(all .3s ease-in-out);
}

.wrapper {

	width: 100%;
	max-width: $containerWidth;
	padding: $containerPadding;

	@if $containerCentering {

		margin: 0 auto;	
	}
}

.loading {

	opacity: .5;
}

// ============================================================