

.search-container {

	@include cf;
}

.search-area {

	@include transition(all .3s ease-in-out);
	position: relative;
	color: $col-white;

	@include breakpoint($tablet) {

		width: 20%;
		float: left;
		left: 50%;
		@include translateX(-50%);

		&.left {

			left: 0;
			margin: 0;
			@include translateX(0);
		}
	}
}

.search-results {
	
	padding-top: $baseline*2;
	position: relative;
	@include transition(all .3s ease-in-out);
	@include translateX(200%);

	@include breakpoint($tablet) {

		width: 75%;
		float: right;
	}

	&.active {

		@include translateX(0);
	}

	.cta {

		text-align: left;
	}

	// Empty repo list
	.empty-repo {

		background: $col-white;
		padding: $baseline;
		@include translateX(200%);
		@include transition(all .3s ease-in-out);
		opacity: 0;

		&.active {

			@include translateX(0);
			opacity: 1;
		}
	}

	// Results list
	.results-list {

		@include cf;

		.single-repo {

			float: left;
			width: 49.5%;
			margin: 0 1% 1% 0;
			background: $col-white;
			@include transition(all .3s ease-in-out);

			&:nth-child(even) {

				margin: 0 0 1% 0;
			}

			@include breakpoint($tablet) {

				width: 32.65%;
				margin: 0 1% 1% 0;

				&:nth-child(even) {

					margin: 0 1% 1% 0;
				}

				&:nth-child(3n+3) {

					margin: 0 0 1% 0;
				}

				&:nth-child(3n+4) {

					clear: left;
				}
			}

			@include breakpoint($desktop) {

				width: 24.25%;
				margin: 0 1% 1% 0;

				&:nth-child(even),
				&:nth-child(3n+3)  {

					margin: 0 1% 1% 0;
				}

				&:nth-child(4n+4) {

					margin: 0 0 1% 0;
				}

				&:nth-child(3n+4) {

					clear: none;
				}

				&:nth-child(4n+5) {

					clear: left;
				}
			}

			&.expand {

				width: 100%;
				margin: 0;
				text-align: center;

				.repo-header h2 {

					@include font(30);
					text-align: center;
				}
			}

			.inner-link {

				min-height: 160px;
				padding: $baseline;
			}

			.repo-header {

				@include cf;

				img {

					width: 36px;
					display: block;
					height: auto;
					margin-bottom: $baseline/2;
				}

				h2 {

					text-align: left;
					color: $col-darkgrey;
					@include transition(all .3s ease-in-out);
				}
			}
		}
	}

	// Single result
	.single-result {

		.repo-header {

			background: $col-white;
			padding: $baseline;

			img {

				width: 70px;
			}
		}

		.repo-info {

			opacity: 0;
			@include transition(all .3s ease-in-out);

			&.active {

				opacity: 1;
			}

			a {

				text-decoration: underline;
			}
		}

		.repo-issues {

			border-top: 1px solid $col-lightgrey;
		    padding: 40px 0;
		    margin-top: 40px;

		    .issue-list {

		    	padding: $baseline;

		    	li {

		    		margin: $baseline/2 0;

		    		a {

		    			text-decoration: underline;
		    		}
		    	}
		    }

		    .infinite-scroll {

		    	width: 100%;
		    	background: $col-lightgrey;
		    	display: block;
		    	padding: $baseline;
		    }
		}
	}
}






