
<div class="search-container">
	<div class="search-area" ng-class="{left:pushSearchLeft}">
		<header class="global-header">
	        <svg class="github-icon">
	          <use xlink:href="#icon-github4"></use>
	        <svg>
	        <h1>Search Github Repos</h1>
	    </header>
	    <form ng-submit="getRepos(myValue)">
			<input type="text" ng-model="myValue" autofocus />
			<input type="submit" class="hidden" />
		</form>
	</div>

	<div class="search-results" ng-class="{active:showResults}">

		<ul class="results-list" ng-class="{loading:loading}">
			<li ng-repeat="repo in repositories" ng-class="{expand:showSingle}">
				<a href="javascript:;" target="_blank" class="block inner-link" ng-click="showSingleRepo(repo)" ng-if="!showSingle">
					<div class="repo-header">
						<img ng-src="{{repo.owner.avatar_url}}" alt="Owner avatar" />
						<h2 ng-bind-html="repo.name"></h2>
					</div>
				</a>
				<div class="single-result" ng-if="showSingle">
					<div class="repo-header">
						<img ng-src="{{repo.owner.avatar_url}}" alt="Owner avatar" />
						<h2 ng-bind-html="repo.name"></h2>
					</div>
					<div class="repo-info" ng-class="{active:delayInfo}">
						<a ng-href="{{repo.html_url}}" target="_blank" class="block" ng-bind-html="repo.html_url"></a>
						<p ng-bind-html="repo.description" ng-if="repo.description.length"></p>
						<p class="octicon octicon-eye-watch">{{repo.watchers}} Watchers</p>
					</div>
				</div>
			</li>
		</ul>

		<h2 ng-class="{active:!repositories.length}" class="error empty-repo">Unfortunately no repositories exist with that name!</h2>

	</div>
</div>