@charset "UTF-8";
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../dev/sass/partials/globals/_core.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../../dev/sass/partials/globals/_core.scss */
html, body {
  width: 100%;
  overflow-x: hidden;
  color: #0a0a0a;
}

/* line 28, ../../dev/sass/partials/globals/_core.scss */
body {
  background: #333333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 34, ../../dev/sass/partials/globals/_core.scss */
.wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

/* line 46, ../../dev/sass/partials/globals/_core.scss */
.loading {
  opacity: .5;
}

/* line 13, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-left: 7px solid #17ad8a;
  padding: 5px 20px;
  width: 100%;
}
@media (min-width: 840px) {
  /* line 13, ../../dev/sass/partials/globals/_blockquotes.scss */
  blockquote {
    max-width: 60%;
  }
}
/* line 27, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote:before, blockquote:after {
  font-size: 26px;
  font-size: 1.625em;
  line-height: 39px;
  color: #c9c9c9;
  font-family: georgia;
  display: inline;
  line-height: 1px;
  vertical-align: -5px;
}
/* line 38, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote:before {
  content: open-quote;
}
/* line 44, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote:after {
  content: close-quote;
}

/* line 27, ../../dev/sass/partials/globals/_forms.scss */
.btn,
input,
button,
select,
textarea {
  margin-bottom: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 4px solid white;
}
/* line 36, ../../dev/sass/partials/globals/_forms.scss */
.btn:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* line 48, ../../dev/sass/partials/globals/_forms.scss */
input[type="text"], select,
textarea,
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: none;
  margin: 0 auto;
  color: white;
  text-align: center;
}

/* line 61, ../../dev/sass/partials/globals/_forms.scss */
select,
textarea {
  display: block;
}

/* line 67, ../../dev/sass/partials/globals/_forms.scss */
textarea {
  resize: vertical;
  min-height: 260px;
}

/* line 75, ../../dev/sass/partials/globals/_forms.scss */
.btn,
button,
input[type="submit"] {
  border: none;
  width: auto;
  padding: 5px 10px;
  background: #d13e36;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
}
/* line 85, ../../dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  color: white;
  background: #d54e47;
  text-decoration: none;
}
/* line 92, ../../dev/sass/partials/globals/_forms.scss */
.btn.secondary,
button.secondary,
input[type="submit"].secondary {
  background: #2b78c4;
  color: white;
}
/* line 97, ../../dev/sass/partials/globals/_forms.scss */
.btn.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover {
  color: white;
  background: #c4c416;
}
/* line 104, ../../dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'octicons';
  src: url("../fonts/octicons/octicons.eot?#iefix&v=932555081d58ad24701c658c97328237bbc156d2") format("embedded-opentype"), url("../fonts/octicons/octicons.woff?v=932555081d58ad24701c658c97328237bbc156d2") format("woff"), url("../fonts/octicons/octicons.ttf?v=932555081d58ad24701c658c97328237bbc156d2") format("truetype"), url("../fonts/octicons/octicons.svg?v=932555081d58ad24701c658c97328237bbc156d2#octicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../../dev/sass/partials/globals/_fonts.scss */
.octicon, .mega-octicon {
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 28, ../../dev/sass/partials/globals/_fonts.scss */
.mega-octicon {
  font-size: 32px;
}

/* line 30, ../../dev/sass/partials/globals/_fonts.scss */
.octicon:before {
  font: normal normal normal 16px/1 octicons;
  margin: 0 7px 0 18px;
}

/* line 35, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-alert:before {
  content: '\f02d';
}

/*  */
/* line 36, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-alignment-align:before {
  content: '\f08a';
}

/*  */
/* line 37, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-alignment-aligned-to:before {
  content: '\f08e';
}

/*  */
/* line 38, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-alignment-unalign:before {
  content: '\f08b';
}

/*  */
/* line 39, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-down:before {
  content: '\f03f';
}

/*  */
/* line 40, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-left:before {
  content: '\f040';
}

/*  */
/* line 41, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-right:before {
  content: '\f03e';
}

/*  */
/* line 42, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-small-down:before {
  content: '\f0a0';
}

/*  */
/* line 43, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-small-left:before {
  content: '\f0a1';
}

/*  */
/* line 44, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-small-right:before {
  content: '\f071';
}

/*  */
/* line 45, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-small-up:before {
  content: '\f09f';
}

/*  */
/* line 46, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-arrow-up:before {
  content: '\f03d';
}

/*  */
/* line 47, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-beer:before {
  content: '\f069';
}

/*  */
/* line 48, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-book:before {
  content: '\f007';
}

/*  */
/* line 49, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-bookmark:before {
  content: '\f07b';
}

/*  */
/* line 50, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-briefcase:before {
  content: '\f0d3';
}

/*  */
/* line 51, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-broadcast:before {
  content: '\f048';
}

/*  */
/* line 52, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-browser:before {
  content: '\f0c5';
}

/*  */
/* line 53, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-bug:before {
  content: '\f091';
}

/*  */
/* line 54, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-calendar:before {
  content: '\f068';
}

/*  */
/* line 55, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-check:before {
  content: '\f03a';
}

/*  */
/* line 56, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-checklist:before {
  content: '\f076';
}

/*  */
/* line 57, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-chevron-down:before {
  content: '\f0a3';
}

/*  */
/* line 58, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-chevron-left:before {
  content: '\f0a4';
}

/*  */
/* line 59, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-chevron-right:before {
  content: '\f078';
}

/*  */
/* line 60, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-chevron-up:before {
  content: '\f0a2';
}

/*  */
/* line 61, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-circle-slash:before {
  content: '\f084';
}

/*  */
/* line 62, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-circuit-board:before {
  content: '\f0d6';
}

/*  */
/* line 63, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-clippy:before {
  content: '\f035';
}

/*  */
/* line 64, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-clock:before {
  content: '\f046';
}

/*  */
/* line 65, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-cloud-download:before {
  content: '\f00b';
}

/*  */
/* line 66, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-cloud-upload:before {
  content: '\f00c';
}

/*  */
/* line 67, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-code:before {
  content: '\f05f';
}

/*  */
/* line 68, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-color-mode:before {
  content: '\f065';
}

/*  */
/* line 70, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-comment-add:before,
.octicon-comment:before {
  content: '\f02b';
}

/*  */
/* line 71, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-comment-discussion:before {
  content: '\f04f';
}

/*  */
/* line 72, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-credit-card:before {
  content: '\f045';
}

/*  */
/* line 73, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-dash:before {
  content: '\f0ca';
}

/*  */
/* line 74, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-dashboard:before {
  content: '\f07d';
}

/*  */
/* line 75, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-database:before {
  content: '\f096';
}

/*  */
/* line 76, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-device-camera:before {
  content: '\f056';
}

/*  */
/* line 77, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-device-camera-video:before {
  content: '\f057';
}

/*  */
/* line 78, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-device-desktop:before {
  content: '\f27c';
}

/*  */
/* line 79, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-device-mobile:before {
  content: '\f038';
}

/*  */
/* line 80, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-diff:before {
  content: '\f04d';
}

/*  */
/* line 81, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-diff-added:before {
  content: '\f06b';
}

/*  */
/* line 82, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-diff-ignored:before {
  content: '\f099';
}

/*  */
/* line 83, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-diff-modified:before {
  content: '\f06d';
}

/*  */
/* line 84, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-diff-removed:before {
  content: '\f06c';
}

/*  */
/* line 85, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-diff-renamed:before {
  content: '\f06e';
}

/*  */
/* line 86, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-ellipsis:before {
  content: '\f09a';
}

/*  */
/* line 89, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before {
  content: '\f04e';
}

/*  */
/* line 90, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-binary:before {
  content: '\f094';
}

/*  */
/* line 91, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-code:before {
  content: '\f010';
}

/*  */
/* line 92, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-directory:before {
  content: '\f016';
}

/*  */
/* line 93, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-media:before {
  content: '\f012';
}

/*  */
/* line 94, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-pdf:before {
  content: '\f014';
}

/*  */
/* line 95, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-submodule:before {
  content: '\f017';
}

/*  */
/* line 96, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-symlink-directory:before {
  content: '\f0b1';
}

/*  */
/* line 97, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-symlink-file:before {
  content: '\f0b0';
}

/*  */
/* line 98, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-text:before {
  content: '\f011';
}

/*  */
/* line 99, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-file-zip:before {
  content: '\f013';
}

/*  */
/* line 100, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-flame:before {
  content: '\f0d2';
}

/*  */
/* line 101, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-fold:before {
  content: '\f0cc';
}

/*  */
/* line 102, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-gear:before {
  content: '\f02f';
}

/*  */
/* line 103, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-gift:before {
  content: '\f042';
}

/*  */
/* line 104, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-gist:before {
  content: '\f00e';
}

/*  */
/* line 105, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-gist-secret:before {
  content: '\f08c';
}

/*  */
/* line 108, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before {
  content: '\f020';
}

/*  */
/* line 109, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-git-commit:before {
  content: '\f01f';
}

/*  */
/* line 110, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-git-compare:before {
  content: '\f0ac';
}

/*  */
/* line 111, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-git-merge:before {
  content: '\f023';
}

/*  */
/* line 113, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before {
  content: '\f009';
}

/*  */
/* line 114, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-globe:before {
  content: '\f0b6';
}

/*  */
/* line 115, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-graph:before {
  content: '\f043';
}

/*  */
/* line 116, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-heart:before {
  content: '\2665';
}

/* ♥ */
/* line 117, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-history:before {
  content: '\f07e';
}

/*  */
/* line 118, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-home:before {
  content: '\f08d';
}

/*  */
/* line 119, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-horizontal-rule:before {
  content: '\f070';
}

/*  */
/* line 120, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-hourglass:before {
  content: '\f09e';
}

/*  */
/* line 121, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-hubot:before {
  content: '\f09d';
}

/*  */
/* line 122, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-inbox:before {
  content: '\f0cf';
}

/*  */
/* line 123, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-info:before {
  content: '\f059';
}

/*  */
/* line 124, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-issue-closed:before {
  content: '\f028';
}

/*  */
/* line 125, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-issue-opened:before {
  content: '\f026';
}

/*  */
/* line 126, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-issue-reopened:before {
  content: '\f027';
}

/*  */
/* line 127, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-jersey:before {
  content: '\f019';
}

/*  */
/* line 128, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-jump-down:before {
  content: '\f072';
}

/*  */
/* line 129, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-jump-left:before {
  content: '\f0a5';
}

/*  */
/* line 130, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-jump-right:before {
  content: '\f0a6';
}

/*  */
/* line 131, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-jump-up:before {
  content: '\f073';
}

/*  */
/* line 132, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-key:before {
  content: '\f049';
}

/*  */
/* line 133, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-keyboard:before {
  content: '\f00d';
}

/*  */
/* line 134, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-law:before {
  content: '\f0d8';
}

/*  */
/* line 135, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-light-bulb:before {
  content: '\f000';
}

/*  */
/* line 136, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-link:before {
  content: '\f05c';
}

/*  */
/* line 137, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-link-external:before {
  content: '\f07f';
}

/*  */
/* line 138, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-list-ordered:before {
  content: '\f062';
}

/*  */
/* line 139, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-list-unordered:before {
  content: '\f061';
}

/*  */
/* line 140, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-location:before {
  content: '\f060';
}

/*  */
/* line 144, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before {
  content: '\f06a';
}

/*  */
/* line 145, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-logo-github:before {
  content: '\f092';
}

/*  */
/* line 146, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mail:before {
  content: '\f03b';
}

/*  */
/* line 147, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mail-read:before {
  content: '\f03c';
}

/*  */
/* line 148, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mail-reply:before {
  content: '\f051';
}

/*  */
/* line 149, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mark-github:before {
  content: '\f00a';
}

/*  */
/* line 150, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-markdown:before {
  content: '\f0c9';
}

/*  */
/* line 151, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-megaphone:before {
  content: '\f077';
}

/*  */
/* line 152, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mention:before {
  content: '\f0be';
}

/*  */
/* line 153, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-microscope:before {
  content: '\f089';
}

/*  */
/* line 154, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-milestone:before {
  content: '\f075';
}

/*  */
/* line 156, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mirror-public:before,
.octicon-mirror:before {
  content: '\f024';
}

/*  */
/* line 157, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mortar-board:before {
  content: '\f0d7';
}

/*  */
/* line 158, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-move-down:before {
  content: '\f0a8';
}

/*  */
/* line 159, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-move-left:before {
  content: '\f074';
}

/*  */
/* line 160, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-move-right:before {
  content: '\f0a9';
}

/*  */
/* line 161, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-move-up:before {
  content: '\f0a7';
}

/*  */
/* line 162, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-mute:before {
  content: '\f080';
}

/*  */
/* line 163, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-no-newline:before {
  content: '\f09c';
}

/*  */
/* line 164, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-octoface:before {
  content: '\f008';
}

/*  */
/* line 165, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-organization:before {
  content: '\f037';
}

/*  */
/* line 166, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-package:before {
  content: '\f0c4';
}

/*  */
/* line 167, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-paintcan:before {
  content: '\f0d1';
}

/*  */
/* line 168, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-pencil:before {
  content: '\f058';
}

/*  */
/* line 171, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before {
  content: '\f018';
}

/*  */
/* line 172, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-pin:before {
  content: '\f041';
}

/*  */
/* line 173, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-playback-fast-forward:before {
  content: '\f0bd';
}

/*  */
/* line 174, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-playback-pause:before {
  content: '\f0bb';
}

/*  */
/* line 175, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-playback-play:before {
  content: '\f0bf';
}

/*  */
/* line 176, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-playback-rewind:before {
  content: '\f0bc';
}

/*  */
/* line 177, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-plug:before {
  content: '\f0d4';
}

/*  */
/* line 182, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before {
  content: '\f05d';
}

/*  */
/* line 183, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-podium:before {
  content: '\f0af';
}

/*  */
/* line 184, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-primitive-dot:before {
  content: '\f052';
}

/*  */
/* line 185, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-primitive-square:before {
  content: '\f053';
}

/*  */
/* line 186, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-pulse:before {
  content: '\f085';
}

/*  */
/* line 187, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-puzzle:before {
  content: '\f0c0';
}

/*  */
/* line 188, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-question:before {
  content: '\f02c';
}

/*  */
/* line 189, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-quote:before {
  content: '\f063';
}

/*  */
/* line 190, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-radio-tower:before {
  content: '\f030';
}

/*  */
/* line 192, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-delete:before,
.octicon-repo:before {
  content: '\f001';
}

/*  */
/* line 193, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-clone:before {
  content: '\f04c';
}

/*  */
/* line 194, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-force-push:before {
  content: '\f04a';
}

/*  */
/* line 196, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-gist-fork:before,
.octicon-repo-forked:before {
  content: '\f002';
}

/*  */
/* line 197, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-pull:before {
  content: '\f006';
}

/*  */
/* line 198, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-push:before {
  content: '\f005';
}

/*  */
/* line 199, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-rocket:before {
  content: '\f033';
}

/*  */
/* line 200, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-rss:before {
  content: '\f034';
}

/*  */
/* line 201, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-ruby:before {
  content: '\f047';
}

/*  */
/* line 202, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-screen-full:before {
  content: '\f066';
}

/*  */
/* line 203, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-screen-normal:before {
  content: '\f067';
}

/*  */
/* line 205, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-search-save:before,
.octicon-search:before {
  content: '\f02e';
}

/*  */
/* line 206, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-server:before {
  content: '\f097';
}

/*  */
/* line 207, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-settings:before {
  content: '\f07c';
}

/*  */
/* line 209, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-log-in:before,
.octicon-sign-in:before {
  content: '\f036';
}

/*  */
/* line 211, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-log-out:before,
.octicon-sign-out:before {
  content: '\f032';
}

/*  */
/* line 212, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-split:before {
  content: '\f0c6';
}

/*  */
/* line 213, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-squirrel:before {
  content: '\f0b2';
}

/*  */
/* line 216, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before {
  content: '\f02a';
}

/*  */
/* line 217, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-steps:before {
  content: '\f0c7';
}

/*  */
/* line 218, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-stop:before {
  content: '\f08f';
}

/*  */
/* line 220, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-repo-sync:before,
.octicon-sync:before {
  content: '\f087';
}

/*  */
/* line 223, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before {
  content: '\f015';
}

/*  */
/* line 224, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-telescope:before {
  content: '\f088';
}

/*  */
/* line 225, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-terminal:before {
  content: '\f0c8';
}

/*  */
/* line 226, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-three-bars:before {
  content: '\f05e';
}

/*  */
/* line 227, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-thumbsdown:before {
  content: '\f0db';
}

/*  */
/* line 228, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-thumbsup:before {
  content: '\f0da';
}

/*  */
/* line 229, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-tools:before {
  content: '\f031';
}

/*  */
/* line 230, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-trashcan:before {
  content: '\f0d0';
}

/*  */
/* line 231, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-triangle-down:before {
  content: '\f05b';
}

/*  */
/* line 232, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-triangle-left:before {
  content: '\f044';
}

/*  */
/* line 233, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-triangle-right:before {
  content: '\f05a';
}

/*  */
/* line 234, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-triangle-up:before {
  content: '\f0aa';
}

/*  */
/* line 235, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-unfold:before {
  content: '\f039';
}

/*  */
/* line 236, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-unmute:before {
  content: '\f0ba';
}

/*  */
/* line 237, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-versions:before {
  content: '\f064';
}

/*  */
/* line 239, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-remove-close:before,
.octicon-x:before {
  content: '\f081';
}

/*  */
/* line 240, ../../dev/sass/partials/globals/_fonts.scss */
.octicon-zap:before {
  content: '\26A1';
}

/* ⚡ */
/* line 7, ../../dev/sass/partials/globals/_images.scss */
.img-half {
  width: 50%;
  height: auto;
  display: block;
}

/* line 15, ../../dev/sass/partials/globals/_images.scss */
.img-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 10, ../../dev/sass/partials/globals/_links.scss */
a {
  text-decoration: none;
  color: #17ad8a;
}
/* line 19, ../../dev/sass/partials/globals/_links.scss */
a:hover {
  text-decoration: none;
}
/* line 25, ../../dev/sass/partials/globals/_links.scss */
a:active {
  text-decoration: none;
}

/* line 6, ../../dev/sass/partials/globals/_lists.scss */
ul, ol {
  margin-bottom: 10px;
}
/* line 12, ../../dev/sass/partials/globals/_lists.scss */
ul.inline-list li, ol.inline-list li {
  display: inline-block;
  margin-right: 10px;
}
/* line 23, ../../dev/sass/partials/globals/_lists.scss */
ul.stacked-list li, ol.stacked-list li {
  display: block;
  margin-bottom: 10px;
}

/* line 12, ../../dev/sass/partials/globals/_tables.scss */
table {
  width: 100%;
}
/* line 16, ../../dev/sass/partials/globals/_tables.scss */
table th, table td {
  border-bottom: 1px solid #c9c9c9;
  padding: 10px;
  width: 25%;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

/* line 27, ../../dev/sass/mixins/_font-face.scss */
.open-sans, body, input, textarea, select, button, label {
  font-family: "Open Sans", sans-serif;
}

/* line 11, ../../dev/sass/partials/globals/_typography.scss */
html {
  font-size: 100%;
}

/* line 16, ../../dev/sass/partials/globals/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-family: "Raleway", arial, sans-serif;
}

/* line 22, ../../dev/sass/partials/globals/_typography.scss */
p {
  margin-bottom: 10px;
}

/* line 27, ../../dev/sass/partials/globals/_typography.scss */
body, button, p, a, input, textarea, select {
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

/* line 34, ../../dev/sass/partials/globals/_typography.scss */
h1, .h1, .alpha {
  font-size: 27px;
  font-size: 1.6875em;
  line-height: 40.5px;
}

/* line 39, ../../dev/sass/partials/globals/_typography.scss */
h2, .h2, .beta {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 21px;
}

/* line 44, ../../dev/sass/partials/globals/_typography.scss */
h3, .h3, .gamma {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 36px;
}

/* line 49, ../../dev/sass/partials/globals/_typography.scss */
h4, .h4, .delta {
  font-size: 22px;
  font-size: 1.375em;
  line-height: 33px;
}

/* line 55, ../../dev/sass/partials/globals/_typography.scss */
h5, .h5, .epsilon,
h6, .h6, .zeta {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 27px;
}

/* line 60, ../../dev/sass/partials/globals/_typography.scss */
.mega {
  font-size: 72px;
  font-size: 4.5em;
  line-height: 108px;
}

/* line 66, ../../dev/sass/partials/globals/_typography.scss */
small,
.tiny {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 21px;
}

/* line 71, ../../dev/sass/partials/globals/_typography.scss */
strong {
  font-weight: bold;
}

/* line 76, ../../dev/sass/partials/globals/_typography.scss */
em {
  font-style: italic;
}

/* line 5, ../../dev/sass/partials/modules/_app-header.scss */
.global-header {
  text-align: center;
  padding: 40px 0;
}
/* line 10, ../../dev/sass/partials/modules/_app-header.scss */
.global-header .github-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

/* line 3, ../../dev/views/search/_search.scss */
.search-container {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.search-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../../dev/views/search/_search.scss */
.search-area {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: white;
}
@media (min-width: 840px) {
  /* line 8, ../../dev/views/search/_search.scss */
  .search-area {
    width: 20%;
    float: left;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  /* line 21, ../../dev/views/search/_search.scss */
  .search-area.left {
    left: 0;
    margin: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* line 30, ../../dev/views/search/_search.scss */
.search-results {
  padding-top: 40px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
@media (min-width: 840px) {
  /* line 30, ../../dev/views/search/_search.scss */
  .search-results {
    width: 75%;
    float: right;
  }
}
/* line 43, ../../dev/views/search/_search.scss */
.search-results.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 48, ../../dev/views/search/_search.scss */
.search-results .cta {
  text-align: left;
}
/* line 54, ../../dev/views/search/_search.scss */
.search-results .empty-repo {
  background: white;
  padding: 20px;
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
/* line 62, ../../dev/views/search/_search.scss */
.search-results .empty-repo.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* line 70, ../../dev/views/search/_search.scss */
.search-results .results-list {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.search-results .results-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 74, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo {
  float: left;
  width: 49.5%;
  margin: 0 1% 1% 0;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 82, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo:nth-child(even) {
  margin: 0 0 1% 0;
}
@media (min-width: 840px) {
  /* line 74, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo {
    width: 32.65%;
    margin: 0 1% 1% 0;
  }
  /* line 92, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(even) {
    margin: 0 1% 1% 0;
  }
  /* line 97, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(3n+3) {
    margin: 0 0 1% 0;
  }
  /* line 102, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(3n+4) {
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* line 74, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo {
    width: 24.25%;
    margin: 0 1% 1% 0;
  }
  /* line 114, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(even), .search-results .results-list .single-repo:nth-child(3n+3) {
    margin: 0 1% 1% 0;
  }
  /* line 119, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(4n+4) {
    margin: 0 0 1% 0;
  }
  /* line 124, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(3n+4) {
    clear: none;
  }
  /* line 129, ../../dev/views/search/_search.scss */
  .search-results .results-list .single-repo:nth-child(4n+5) {
    clear: left;
  }
}
/* line 135, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo.expand {
  width: 100%;
  margin: 0;
  text-align: center;
}
/* line 141, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo.expand .repo-header h2 {
  font-size: 30px;
  font-size: 1.875em;
  line-height: 45px;
  text-align: center;
  word-wrap: break-word;
}
/* line 149, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo .inner-link {
  min-height: 160px;
  padding: 20px;
}
/* line 155, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo .repo-header {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.search-results .results-list .single-repo .repo-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 159, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo .repo-header img {
  width: 36px;
  display: block;
  height: auto;
  margin-bottom: 10px;
}
/* line 167, ../../dev/views/search/_search.scss */
.search-results .results-list .single-repo .repo-header h2 {
  text-align: left;
  color: #333333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 180, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-header {
  background: white;
  padding: 20px;
}
/* line 185, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-header img {
  width: 70px;
}
/* line 191, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-info {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 196, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-info.active {
  opacity: 1;
}
/* line 201, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-info a {
  text-decoration: underline;
}
/* line 207, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-issues {
  border-top: 1px solid #e6e6e6;
  padding: 40px 0;
  margin-top: 40px;
}
/* line 213, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-issues .issue-list {
  padding: 20px;
}
/* line 217, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-issues .issue-list li {
  margin: 10px 0;
}
/* line 221, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-issues .issue-list li a {
  text-decoration: underline;
}
/* line 228, ../../dev/views/search/_search.scss */
.search-results .single-result .repo-issues .infinite-scroll {
  width: 100%;
  background: #e6e6e6;
  display: block;
  padding: 20px;
}

/* line 6, ../../dev/sass/misc/_helpers.scss */
.block {
  display: block;
}

/* line 11, ../../dev/sass/misc/_helpers.scss */
a.block {
  margin-bottom: 20px;
}

/* line 16, ../../dev/sass/misc/_helpers.scss */
.inline {
  display: inline-block;
}

/* line 21, ../../dev/sass/misc/_helpers.scss */
.pull-left {
  float: left;
}

/* line 26, ../../dev/sass/misc/_helpers.scss */
.pull-right {
  float: right;
}

/* line 31, ../../dev/sass/misc/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 36, ../../dev/sass/misc/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 41, ../../dev/sass/misc/_helpers.scss */
.browsehappy {
  color: white;
  background: red;
  width: 100%;
  text-align: center;
}

/* line 49, ../../dev/sass/misc/_helpers.scss */
.mb {
  margin-bottom: 10px;
  display: block;
}

/* line 55, ../../dev/sass/misc/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 60, ../../dev/sass/misc/_helpers.scss */
.hidden {
  display: none;
}

@media print {
  /* line 13, ../../dev/sass/misc/_print.scss */
  *,
  *:before,
  *:after {
    color: #000;
    text-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  /* line 22, ../../dev/sass/misc/_print.scss */
  a {
    text-decoration: underline;
  }
  /* line 27, ../../dev/sass/misc/_print.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 35, ../../dev/sass/misc/_print.scss */
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  /* line 50, ../../dev/sass/misc/_print.scss */
  a[href^="#"]:after, a[href*="#"]:after, a[href^="javascript:;"]:after, a[href*="javascript:;"]:after {
    content: '';
  }

  /* line 60, ../../dev/sass/misc/_print.scss */
  input[type="submit"] {
    display: none;
  }

  /* line 78, ../../dev/sass/misc/_print.scss */
  footer {
    display: none;
  }
}
